@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Mate:ital@0;1&family=Niconne&family=Old+Standard+TT:ital@1&family=Oleo+Script:wght@400;700&family=Permanent+Marker&family=Sofia&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: linen;
}

header.home-page {
    background:url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') no-repeat;
    background-position: 0% 45%;
    background-size: cover;
    margin-bottom: 2em;
    height: 39em;
}

main {
    background-color: linen
}

nav ul {
    display: flex;
    width: 20em;
    margin-left: auto;
}

nav li {
    list-style: none;
    margin-right: 1em;
    padding-top: 0.5em;
}

nav a {
    text-decoration: none;
    color: cornsilk;
    border-radius: 0.8em;
    padding: 0.6em 0.2em;
    margin-top: 0.5em;
    display: block;
    background: transparent;
    border: 1px solid white;
}

nav a:hover {
    background-color: tan;
}

.navigation {
    /* display: flex; */
    /* justify-content: right; */
    margin-bottom: 1em;
}

.logo {
    margin: 0 auto;
    width: 10em;
    height: 10em;
}

.logo img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
}

.navigation img {
    position: absolute;
    width: 8.5em;
    height: 8.5em;
    margin: 0 auto;
}

.site-title {
    font-family: 'Oleo Script';
    font-size: 2.7em;
    text-align: center;
    color: white;
    font-style: normal;
}

.search {
    text-align: center;
    margin-bottom: 7em;
}

#btn {
    font-family: 'Oleo Script';
    font-size: 1.5em;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid peachpuff;
    border-radius: 1.5em;
    background-color: #346D5F;
}

#btn:hover {
    color: wheat;
}

.search input {
    width: 50em;
    height: 2.5em;
    background-color: #C8CAC6;
    border-radius: 5em;
    border: lightslategray;
    margin-top: 5em;
    margin-bottom: 0.5em;
}

.search input:focus {
    outline: none;
}

.info-us ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid silver;
    /* width: 80em; */
}

.info-us li {
    display: block;
    border: 1px solid silver;
    padding: 5.25em 5.06em;
    flex: 0 0 21.2%;
}

.info-us p a {
    text-decoration: none;
    color: blueviolet;
}

.info-us p a:hover {
    color: coral;
}

.info-us li:hover {
    background-color: lavender;
}

.info-us h1 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 900;
}

.info-us p {
    text-align: center;
    color: #888B98;
}

.created-by p {
    text-align: center;
    color: #50586D;
}

.wrapper {
    width: 80em;
    margin: 0 auto;
}

.about-us {
    margin-bottom: 5em;
}

.about-us h2 {
    text-align: center;
}

.about-us ul {
    display: flex;
    margin-top: 3em;
}

.about-us li {
    flex: 0 0 33%;
    list-style: none;
    margin: 0 auto;
}

.about-us li img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-us li img:hover {
    color: #FFF;
    background-color: rgb(177, 137, 110);
}

.about-us h2 {
    font-family: Oleo Script;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 5em;
    font-style: normal;
}

.about-us h3 {
    font-family: Oleo Script;
    font-size: 1.5em;
    text-align: center;
    width: 38em;
    height: 3em;
    margin: 0 auto;
    margin-top: 2em;
}

.about-us p {
    font-family: Oleo Script;
    color: rgb(129, 88, 88);
    font-size: 1.2em;
    width: 40em;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

.about-us .button {
    color: rgb(177, 137, 110);
    margin: 0 auto;
    margin-top: 2em;
    border: 3px solid rgb(177, 137, 110);
    width: 10em;
    padding: 1em 3em;
    border-radius: 2em;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us .button:hover {
    color: #FFF;
    background-color: rgb(177, 137, 110);
}

.gallery ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery li {
    flex: 0 0 24%;
    height: 35.8em;
    overflow: hidden;
    text-align: center;
    margin-bottom: 3.7em;
}

.gallery li:hover {
    opacity: 0.5;
}

.gallery img {
    width: 20.3em;
    /*20.3*/
    height: 15em;
    display: block;
    overflow: hidden;
}

.gallery li span {
    font-family: Oleo Script;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.7em;
}

.gallery li p {
    font-family: 'Oleo Script';
    font-weight: 700;
}

.gallery li h2 {
    font-family: 'Mate';
    margin-top: 1.8em;
}

.gallery li a {
    margin-top: 4.9em;
    display: block;
    color: rgb(177, 137, 110);
    margin: 0 auto;
    margin-top: 2em;
    border: 4px solid rgb(177, 137, 110);
    width: 9em;
    padding: 1em 3em;
    border-radius: 2em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gallery li a:hover {
    color: #FFF;
    background-color: rgb(177, 137, 110);
}

.created-by img {
    position: relative;
    padding: 2em;
    height: 17em;
    width: 17em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .logo {
    margin: 1em auto;
    width: 10em;
    height: 10em;
}

.created-by p {
    padding: 2em 0;
}

.created-by p a:hover {
    color: dimgray;
}

.created-by p a {
    text-decoration: none;
}


/* second page */

header.other-page {
    background-image: url('https://images.unsplash.com/photo-1507401287347-ffbd7b5a6e59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-repeat: no-repeat;
    background-position: 0% 45%;
    background-size: cover;
    margin-bottom: 2em;
    height: 39em;
}

.wrapper.w-40 {
    width: 40em;
    margin: 0 auto;
}

.article-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.article-info span {
    display: block;
    color: #5C80CE;
    font-weight: 700;
}

.article-info span:first-child,
.article-info span:last-child {
    color: #888b98;
    font-style: italic;
}

.article-content {}

.article-content h1 {
    font-size: 4em;
    margin-bottom: 1.5em;
}

.article-content p {
    color: #50586D;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    margin-bottom: 3em;
    line-height: 1.5em;
}

.gallery.cur-article ul {
    display: block;
}

.gallery.cur-article li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.gallery.cur-article p {
    font-style: italic;
    color: #888b98;
    letter-spacing: 0.1em;
    width: 12em;
    text-align: left;
    line-height: 1.2em;
    padding-top: 1em;
    border-top: 3px solid #888b98;
}

.gallery.cur-article img {
    display: block;
    width: 60em;
    height: auto;
}

#btn-search {
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
    width: 10em;
    background-color: #06c9b8;
    border-radius: 1em;
    display: block;
    padding: 1em;
}